.path_card_detail_homescreen_container {
    background-image: url("../images/pathfinder_path_detail.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    overflow: hidden;
    top: 0; left: 0; 
    z-index: 1;
}

.path_card_detail_parent_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.path_card_detail_container {
    display: flex;
    flex-direction: column;
    width: max(50%, 500px);
    height: max(50%, 500px);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
}

.path_card_button {
    background-color: rgb(255,255,255);
    color: black;
    border: 0.5px solid;
    box-shadow: rgba(71, 77, 137, 0.5) 0 2px 5px 0;
    cursor: pointer;
    width: 120px;
    margin-inline: 10px;
    text-decoration: none;
}