.parent_profile_container {
    background-image: url("../images/pathfinder_login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    overflow: hidden;
    top: 0; left: 0; 
    z-index: 1;
}

.NavBar {
    position: relative;
    z-index: 2;
}

.profile_container {
    display: flex;
    flex-direction: column;
    width: max(30%, 200px);
    height: max(30%, 200px);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    border-radius: 10px;

}

.homescreen_message {
    order: 1;
    margin-bottom: 20px;
}

.login { 
    order: 2; 
}

.signup_instead {
    order: 3;
}